
<%= simple_form_for @template, data: { controller: 'submit-loader', action: 'submit->submit-loader#submit' } do |f| %>
    <div class="form-inputs mt-3">
      <%= f.input :title, input_html: { class: 'form-control fs-1  bg-light rounded-3' }, placeholder: "Add Template Title", label: false %>

      <%= f.input :description, input_html: { class: 'form-control bg-light rounded-3' }, placeholder: "Add Description", label: false %>

      <%= f.simple_fields_for :example, @template.example do |exf| %>
      <%= exf.input :id, as: :hidden %>

      <% if !@template.persisted? %>
        <%= exf.input :content, input_html: { class: 'form-control bg-light pb-5 rounded-3' }, placeholder:"Add an example the text", label: false %>
      <% end %>
    <% end %>
    </div>


  <%= f.submit class: 'btn btn-primary mt-5' %>

  <%= render "shared/loading_hexes" %>
<% end %>
