index-page
<h1 class="display-1"><%= @template.title  %></h1>
<p><%= @template.description %></p>


  <div class="container my-5">
    <h2><%= @template.title  %></h2>
    <p><%= @template.description %></p>
  </div>
  <div class="container my-5">
    <h2>History</h2>
    <p>File</p>
  </div>
  <div class="container my-5">
    <h2>Template preview</h2>
    <p><%= link_to 'example',edit_example_path(@template.example) if @template.example %></p>
  </div>

    <%= link_to "Edit template", edit_template_path %>

</div>
