<div class="container my-5">
  <h1 class="display-1"><%= @template.title  %></h1>
  <h2 class="display-2"><%= @template.description %></h2>
</div>
<% if @template.outputs != 0 %>
<div class="container my-5 ">
  <h2 class="display-2 my-3">History</h2>

  <div class="d-flex flex-row flex-wrap">
    <% @template.outputs.each_with_index do |output, index| %>
      <div class="w-25 px-2 ">
        <%= link_to output, class: "col-4 mb-4 btn btn-primary" do %>
          <h5 >
            <i class="fa-regular fa-file p-1"></i>
            Version_<%= index + 1 %>
          </h5>

          <div class="fw-normal my-2">
            <%= truncate(output.content, length: 30) %>
          </div>

          <div class="fw-light text-black-50 w-100 text-truncate fs-6">
            <small><%= output.input_fields.map(&:key).to_sentence(last_word_connector: ', ') %></small>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<% end %>
<div class="container my-5">
  <h2 class="display-2">Template preview</h2>
  <div class="my-2">
    <div class="card col-12 bg-light p-3 rounded my-3">
      <p><%= @template.example.content if @template.example %></p>
    </div>
  </div>

  <div class="d-flex gap-3">
    <%= link_to "Use template", new_template_output_path(@template), :class => "btn btn-primary" %>
    <%= link_to "Edit template", (edit_example_path(@template.example) if @template.example), :class => "btn my-btn-light " %>

    <%= link_to 'Back', templates_path, class: 'btn my-btn-light' %>
  </div>
</div>
