<div class="banner" style="background-image: url(https://images.unsplash.com/photo-1655890954753-f9ec41ce58ae?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
  <div class="container">
    <h1 class="display-1"><strong>Next_Gen_<strong class="text-danger">AI</strong>_Interface</strong></h1>
    <h2 class= "mb-5">Change your life and your daily routines to create a smoother experience with less mundane work, and more.</h2>
    <a class="my-btn-home" <% if user_signed_in? %>
        <%= link_to "Start now", templates_path %>
      <% else %>
       <%= link_to "Start now", new_user_registration_path %>
    <% end %>
    </a>
  </div>
</div>

<div class="container mt-5 mb-5">
<div class="row">
  <div class="col-sm-6">
    <div class="card bg-primary">
      <div class="card-body text-white" style="height: 500px;">
        <p class="card-title display-5">Ai_Manager</p>
        <h4 class="card-text"> Next_gen_ai_interface an initial focus on guiding by engineering processes for an enhanced version of Ai_Manager that provides more life easier, time saving, fewer errors, improved reasoning skills, better verbal fluidity, and an overall superior performance. However, the added benefits often make it a worthwhile investment.  </h4>
      </div>
    </div>
  </div>
  <div class="col-sm-6 ">
    <div class="card bg-primary">
      <div class="card-body text-white" style="height: 500px;">
        <p class="card-title display-5">Time Text_Genarate Template</p>
        <h4 class="card-text"> The AI text generator is a tool for Template creation. It leverages a transformer-based your template to produce text that follows the users instructions. As an AI generator, it offers a range of functions, from text generation, to completing sentences, edit, update and predicting contextually relevant content. It can serve as a sentence generator, word generator, and message generator, transforming input into coherent text.</br>
        On the same time it train to an Ai_Text_Template and so far on to better understand to work smartly.
        </h4>
      </div>
    </div>
  </div>
</div>
<div>


<div claas="container">
<div class="row row-cols-1 row-cols-md-2 g-4 mt-5 mb-5">
  <div class="col">
    <div class="card">
    <%= image_tag "Screenshot 3.png" %>
      <div class="card-body">
        <h5 class="card-title">Create </h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
    <%= image_tag "Screenshot-1.png" %>

      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
    <%= image_tag "Screenshot-2.png" %>


      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
    <%= image_tag "Screenshot 3.png" %>

      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
</div>
</div>
