<!DOCTYPE html>
<html>
  <head>
<<<<<<< HEAD
    <title>NextGenAiInterface</title>
=======
    <title>Templ&#60;A!&#62;te</title>
>>>>>>> 154e8c46775d41f0f7f79413e442bec66348b45f
    <link rel="icon" type="image/png" href="/image.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>
      <%= yield %>
  </body>
</html>
